body{
    background-image: url("/imgs/bgc.png") no-repeat;
    background-size: contain;
    background-position: center;
}
header img {
    width: 40px;
    height: 40px;
    margin: 40px 0 auto 80px ;   
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
}
header ul li a{
    color:#FFFF;
    text-decoration: none;
}