body{
    background-image: url("/imgs/bgc.png");
    background-size: contain;
    background-position: center;
}
header img {
    width: 40px;
    height: 40px;
    margin: 40px 0 auto 80px ;   
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
}
header ul li a{
    color:#FFFF;
    text-decoration: none;
}
header button{
    background-image: linear-gradient(to right,#C89AFC ,#7C6AFA);
    color: #FFFF;
    width: 183px;
    height: 44px;
    margin: 38px auto auto 1657px;
    padding: 10px, 30px, 10px, 30px;
    border-radius: 50px;
    gap: 10px;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;    
}
